.label {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.label input {
  appearance: none;
  padding-left: 16px;
  height: 40px;
  width: 100%;
  background-color: var(--clr-white-800);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
}

.label input:focus {
  outline: 1px solid var(--clr-white-600);
}

.label input::-webkit-outer-spin-button,
.label input::-webkit-inner-spin-button {
  appearance: none;
}

.label span {
  color: var(--clr-black-800);
  opacity: 0.4;
  font-size: 12px;
  font-weight: bold;
}

.label button {
  position: absolute;
  right: 16px;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}

.label button:is(:hover, :focus) path {
  stroke-opacity: 1;
}

.label button:first-of-type {
  top: 5px;
}

.label button:last-of-type {
  bottom: 5px;
}
