.timer_container,
.timer {
  border-radius: 100%;
}

.timer_container {
  display: grid;
  place-items: center;
  height: 410px;
  width: 410px;
  margin-top: -10px;
  margin-bottom: 8px;
  background: linear-gradient(-45deg, #2E325A, #0E112A);
  box-shadow: 
    -50px -50px 100px #272C5A,
    50px 50px 100px #121530;
}

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 366px;
  width: 366px;
  background-color: var(--clr-black-900);
}

@media screen and (orientation: portrait) {
  .timer_container {
    margin-top: 54px;
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 480px) {
  .timer_container {
    margin-top: 3px;
    margin-bottom: 34px;
    height: 300px;
    width: 300px;
  }

  .timer {
    height: 268px;
    width: 268px;
  }
}

.time {
  position: relative;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing);
}

.time_btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-white-700);
  font-size: var(--font-size-h3);
  font-weight: bold;
  line-height: var(--line-height-h3);
  letter-spacing: var(--space-h3);
  background-color: transparent;
  border: none;
}
