.modal_container {
  position: fixed;
  inset: 0;
  background-color: #0a0c1c88;
}

.modal {
  width: calc(100vw - 48px);
  max-width: 540px;
  margin-inline: auto;
  margin-top: 46px;
  background-color: var(--clr-white-900);
  border-radius: 15px;
}

.heading,
.time_inputs_container {
  padding-inline: 24px;
}

@media screen and (min-width: 481px) {
  .modal_container {
    display: grid;
    place-items: center;
  }

  .modal {
    margin-top: 0;
  }

  .heading,
  .time_inputs_container {
    padding-inline: 40px;
  }

  .modal > .heading {
    padding-block: 34px 31px;
  }
}

.modal > div {
  padding-block: 24px;
}

.modal > div:not(:first-of-type) {
  border-top: 1px solid var(--clr-white-700);
}

.modal h4 {
  color: var(--clr-black-900);
  font-size: var(--font-size-h4);
  font-weight: bold;
  line-height: var(--line-height-h4);
  letter-spacing: var(--space-h4);
}

@media screen and (max-width: 480px) {
  .modal h4 {
    text-align: center;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_h2 {
  color: var(--clr-black-900);
  font-size: var(--font-size-h2);
  font-weight: bold;
  line-height: var(--line-height-h2);
}

.heading button {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.time_inputs {
  display: grid;
  row-gap: 8px;
  margin-top: 18px;
}

@media screen and (min-width: 481px) {
  .time_inputs {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.radio_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin-inline: 40px;
}

@media screen and (max-width: 480px) {
  .radio_container {
    flex-direction: column;
    margin-inline: 24px;
  }
}

.radio_container:last-of-type {
  padding-bottom: 8px;
}

.close_btn:is(:hover, :focus) path {
  opacity: 1;
}

.apply_btn {
  position: relative;
  display: block;
  height: 53px;
  width: 140px;
  margin-inline: auto;
  transform: translateY(26.5px);
  color: var(--clr-white-900);
  background-color: var(--selected-color);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
}

.apply_btn:is(:hover, :focus)::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--clr-white-900);
  border-radius: 50px;
  opacity: 0.2;
}
