.modal_container {
  position: fixed;
  inset: 0;
  background-color: #0a0c1c88;
}

.modal {
  width: calc(100vw - 48px);
  margin-inline: auto;
  margin-top: 46px;
  background-color: var(--clr-white-900);
  border-radius: 15px;
}

.modal > div {
  padding: 24px;
}

.modal > div:not(:first-of-type) {
  border-top: 1px solid var(--clr-white-700);
}

.modal h4 {
  color: var(--clr-black-900);
  font-size: var(--font-size-h4);
  font-weight: bold;
  line-height: var(--line-height-h4);
  letter-spacing: var(--space-h4);
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_h2 {
  color: var(--clr-black-900);
  font-size: var(--font-size-h2);
  font-weight: bold;
  line-height: var(--line-height-h2);
}

.heading button {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.time_inputs {
  display: grid;
  row-gap: 8px;
  margin-top: 18px;
}

.radio_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.radio_container:last-of-type {
  padding-bottom: 8px;
}

.apply_btn {
  display: block;
  height: 53px;
  width: 140px;
  margin-inline: auto;
  transform: translateY(26.5px);
  color: var(--clr-white-900);
  background-color: var(--selected-color);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
}
