#root {
  padding: 48px 24px;
  height: 100vh;
}

main {
  display: grid;
  justify-items: center;
  row-gap: 55px;
}

@media screen and (orientation: portrait) {
  #root {
    padding-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  #root {
    padding: 32px 24px;
    height: 100vh;
  }

  main {
    row-gap: 45px;
  }  
}

main[data-font-option="Kumbh Sans"] {
  font-family: "Kumbh Sans";
  --font-weight: bold;
  --letter-spacing: -4px;
}

main[data-font-option="Roboto Slab"] {
  font-family: "Roboto Slab";
  --font-weight: bold;
  --letter-spacing: 0;
}

main[data-font-option="Space Mono"] {
  font-family: "Space Mono";
  --font-weight: 400;
  --letter-spacing: -7px;
}

main[data-color-option="orange"] {
  --selected-color: var(--clr-orange);
}

main[data-color-option="teal"] {
  --selected-color: var(--clr-teal);
}

main[data-color-option="purple"] {
  --selected-color: var(--clr-purple);
}

main > h1 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  main > h1 {
    font-size: 32px;
  }
}

.settings_btn {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  border: none;
}
