#root,
main {
  min-height: 100vh;
}

main {
  display: grid;
  place-items: center;
}

main > h1 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  main > h1 {
    font-size: 32px;
  }
}
