.container {
  position: absolute;
  inset: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  rotate: -90deg;
}

@media screen and (max-width: 480px) {
  .container {
    inset: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
}

.container circle {
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}
